/*- Look into bootstrap button input reset for resetting form after submission*/
/*Consider using glyph in navbar, or merely svg in img folder. ":before"*/
/*Add hover to buttons*/
/*Note: Containers, by default, have 15 px left and right padding*/
/*@media classes might be able to take care of media query*/



body {
  background-image: url("../img/stucco.jpg");
}

/*#tomato {
  display: inline;
}*/

h1, h2, h4 {
  font-family: 'Abel', sans-serif;
  font-weight: bolder;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.container.header p {
  color: #f2f2f2;
  font-family: 'IM Fell Double Pica SC', serif;
  font-size: 50px;
  font-weight: bolder;
}

#green {color: #009246;}
#white {color: #f2f2f2;}
#red {color: #ce2b37;}


/*@media screen and (max-width: 1024px) {
  .container.header p {
    font-size: 75px;
  }
}

@media screen and (max-width: 768px) {
  .container.header p {
    font-size: 50px;
  }
}

@media screen and (max-width: 320px) {
  .container.header p {
    font-size: 50px;
  }
}*/

.btn {
  font-size: 14px;
}

.btn-danger {
  background-color: #ce2b37;
}

.btn-success {
  background-color: #009246; 
}

#thank-you {
  display: none;
}

.col-sm-4 {
  background-color: white;
  padding: 0px 10px 10px 10px;
  margin-top: 15px;
  float: right;

}

#current-order-details p {
  color: #d43f3a;
}
