body {
  background-image: url("../img/pizza.jpg");
  font-family: 'Abel', sans-serif;
}

@font-face {
  font-family: myHeader;
  src: url("../fonts/pepperoni_pizza.ttf");
}

h1, h2, h4, {
  font-weight: bolder;
}

.navbar {
  border-radius: 0px;
}

.container {
  max-width: 90%;
}

.container.header p {
  color: #f2f2f2;
  font-family: myHeader, sans-serif;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
}

#green {color: #009246;}
#white {color: #f2f2f2;}
#red {color: #ce2b37;}

.btn {
  font-size: 14px;
  font-weight: bolder;
}

form#pizza-order {
  padding-bottom: 10px;
}

#order {
  width: 80%;
  margin: 10px 10%;

}

button#submit-order {
  margin-bottom: 10px;
}

.col-md-12 {
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.col-md-12 h1 {
  padding-top: 10px;
  font-family: myHeader;
  text-align: center;
}

.col-md-12 h2 {
  font-family: myHeader;
}

.col-md-12 h4 {
  color: black;
  text-align: justify;
}

#current-order-details h2 {
  font-family: myHeader;
  color: black;
  padding-top: 10px;
}

#current-order-details h4 {
  color: black;
}

#current-order-details p {
  color: #EC4D46;
}

@media screen and (max-width: 600px) {
  .container.header p {
    font-size: 50px;
  }

@media screen and (max-width: 320px) {
  .container.header p {
    font-size: 35px;
  }
}


/*- Look into bootstrap button input reset for resetting form after submission*/
/*Consider using glyph in navbar, or merely svg in img folder. ":before"*/
/*Add hover to buttons*/
/*Note: Containers, by default, have 15 px left and right padding*/
/*@media classes might be able to take care of media query*/
