body {
  background-image: url("../img/pizza.jpg");
}

h1, h2, h4 {
  font-family: 'Abel', sans-serif;
  font-weight: bolder;
}

.navbar {
  border-radius: 0px;
  /*margin-bottom: 10px;*/
}

.container.header p {
  color: #f2f2f2;
  font-family: 'IM Fell Double Pica SC', serif;
  font-size: 50px;
  font-weight: bolder;
}

#green {color: #009246;}
#white {color: #f2f2f2;}
#red {color: #ce2b37;}

.btn {
  font-size: 14px;
}

#thank-you {
  display: none;
}

.col-sm-8 {
  background-color: white;
  border-radius: 10px;
}

.col-sm-8 h1 {
  padding-top: 5px;
}

.col-sm-8 h4 {
  color: black;
}

.col-sm-3 {
  background-color: #222;
  border-radius: 10px;
  border-color: #080808;
  padding: 0px 10px 10px 10px;
  max-width: 768px;
}

.col-sm-3 #current-order-details h2, h4 {
  color: #f2f2f2;
  padding-top: 5px;
}

#current-order-details p {
  color: #EC4D46;
}

/*@media screen and (max-width: 1024px) {
  .container.header p {
    font-size: 75px;
  }
}

@media screen and (max-width: 768px) {
  .container.header p {
    font-size: 50px;
  }
}

@media screen and (max-width: 320px) {
  .container.header p {
    font-size: 50px;
  }
}*/

/*- Look into bootstrap button input reset for resetting form after submission*/
/*Consider using glyph in navbar, or merely svg in img folder. ":before"*/
/*Add hover to buttons*/
/*Note: Containers, by default, have 15 px left and right padding*/
/*@media classes might be able to take care of media query*/
